.container {
    position: relative;
    width: 70%; /* used to be 100 before player shrunk to fit on one screen */
    height: 0;
    padding-bottom: 56.25%;
    margin: 0 auto; /* used to allow centering of smaller video player */
}
.video {
    position: absolute;
    display:block; /* Only added to allow player to be shrunk to fit on one screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 70%; /* used to be 100 before player shrunk to fit on one screen */
}

.image {
    max-height: 800px !important;
    max-width: 100%;
}

h1, h2, h3, h4, p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #222222;
    font-weight: lighter;
}

.specialFont {
    font-family: Lucida Handwriting !important;
}

p {
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 1000px) {
    body {
        margin-left: 30px !important;
        margin-right: 30px !important;
        margin-bottom: 30px !important;
    }
}